  #myCanvas {
    border: 1px solid #000;
    display: block;
    margin: 20px auto;
    background-color: #f4f4f4;
  }

  p {
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
  }

  body {
    font-family: 'Arial', sans-serif;
  }

  .info-container {
    text-align: center;
  }

  img {
    width: 20px;
    height: 20px;
  }
